* {
    box-sizing: border-box;
}

:root {
    --w-color: #F0EDEE;
    --b-color: #0F1020;

    --rv-color: #140731;
    --rp-color: #7353BA;

    --border-style: 1px solid var(--b-color);
    --border-style-hf:2px solid var(--b-color);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: var(--wt-text-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* -- GLOBAL-END -- */

/* -- HEADER-START -- */

header {
    position: sticky;
    top: 0;
    width: 100dvw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--w-color);
    border-bottom: var(--border-style-hf);
}

header > nav > ul {
    padding: 0;
    margin: 0;
}

header > nav > ul > li {
    display: inline-block;
    margin-right: 1rem;
}

header > nav > ul > li:hover {
    filter: invert(73%) sepia(61%) saturate(2362%) hue-rotate(287deg) brightness(92%) contrast(97%);
}

/* -- HEADER-END -- */

/* -- MAIN-START -- */

main {
    max-width: 100dvw;
}

main .grid-low {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-bottom: var(--border-style);
}

main .grid-low:nth-child(odd) > .content-container {
    grid-column: 2 / 4;
    color: var(--w-color);
    background-color: var(--rv-color);
}

main .grid-low:nth-child(even) > .content-container {
    grid-column: 1 / 3;
    background-color: var(--    w-color);
}

main .grid-low:nth-child(odd) > .image-container {
    border-right: var(--border-style);
}

main .grid-low:nth-child(even) > .image-container {
    border-left: var(--border-style);
    order: 1;
}

/* -- MAIN-END -- */

/* -- FOOTER-START -- */

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--w-color);
    padding-block   : 1rem;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--b-color);
}

footer > .navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer > .navigation-list > li {
    padding-block: 0.1rem;
}

footer > .navigation-list > li > a {
    padding-right: 1rem;
}

footer > .navigation-list > li > a:hover {
    background-color: var(--b-color);
    color: var(--w-color);
    display: block;
}

footer > address {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
}

/* -- FOOTER-END -- */

/* -- MEDIA -- */

@media (max-width: 700px) {
    main .grid-low:nth-child(odd) > .content-container {
        grid-column-start: 1;
    }

    main .grid-low:nth-child(odd) > .image-container,
    main .grid-low:nth-child(even) > .image-container {
        border: none;
        order: 0;
    }
}